.error-message{
  color: red;
  text-align: center;
  display: none;
}

.form-control:invalid:not(:focus):not(:placeholder-shown) {
  border: solid 2px #fe2c12;
}

.form-control:invalid:not(:empty)~p {
  display: block;
  color: #fe2c12;
  /* font-family: Lato; */
  font-size: 15px;
}